<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"><Package Name="Vishnu" Manufacturer="Vishnu" Version="0.6.0" UpgradeCode="9D22239D-EC32-4D45-BA7B-E967A8121D65"><MediaTemplate/><StandardDirectory Id="ProgramFilesFolder"><Directory Id="INSTALLFOLDER" Name="Personal AI"><Files Include="dist\PersonalAI\**"/></Directory></StandardDirectory><Feature Id="Main"><ComponentGroupRef Id="INSTALLFOLDERComponents"/></Feature></Package></Wix>
